.git
.mypy_cache
__pycache__
*.log
ami_pipeline/Lib/site-packages
ami_pipeline/Scripts
ami_pipeline/pyvenv.cfg
credentials.json
ami_pipeline
northampton data BACKUP
test_images
example_metadata.json
useful commands for upload from pi.txt
username password.txt
