aioboto3
aiohttp
asyncio
boto3
nest_asyncio
pathlib
requests
tenacity
tqdm
yaspin
flake8-black
pylint
pre-commit
boto3
torch
pandas
argparse
requests
http-basic-auth
tqdm
datetime 
torch
torchvision
timm
pillow
numpy
